@mixin self-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-position($pos: center) {
  display: flex;
  justify-content: $pos;
  align-items: $pos;
}

@mixin text-ellispis($line-clamp: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
